body.accessible-mode .navFont,
body.accessible-mode .fontHeading {
    font-size: 130%;
}

body.accessible-mode {
    font-size: 200%;
}

.bg-body-tertiary {
    background-color: #d9ede1 !important;
}

.navbar-toggler,
.navbar-toggler:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;

}

.navFont {
    color: #231f20;
    font-family: "work-sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
}

.fontHeading {
    font-family: "work-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
}

.fontBody {
    font-family: "work-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.homeBody {
    background-color: #eeeeee;
}

.border-bottom {
    border-bottom: 4px solid #388b49 !important;
}

.border-top {
    border-top: 4px solid #388b49 !important;
}

.border-sides {
    border-left: 4px solid #388b49 !important;
    border-right: 4px solid #388b49 !important;
}

.homeImg {
    border-radius: 10px;
}

.statRow {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #d9ede1 !important;
}

.statRow2 {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: #d9ede1 !important;
}

.footerRow {
    text-align: end;
    align-content: center;
    height: 70px;
    background-color: #d9ede1 !important;
}

.bristolStat {
    margin: 0px;
    align-content: center;
}

.paraHome,
.footerContent {
    padding: 0px;
    margin: 0px;
}

.howItWorks {
    text-align: end
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.accessibilityFooter {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.sendButton {
    background-color: #d9ede1 !important;
    border-color: #388b49 !important;
    color: #231f20;
    border-radius: 10px;
}

.borderRadius {
    border-radius: 10px;
}

.hazardousBoolean:checked {
     background-color: #d9ede1 !important;
    border-color: #388b49 !important;
}

.sendButton:hover {
    background-color: #eeeeee !important;
    color: #231f20 !important;
}

.form-control {
    border-radius: 10px !important;
}

.form-control:hover {
    background-color: #d9ede1 !important;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.communityLink {
    width: 80%;
    background-color: #d9ede1 !important;
    border-radius: 10px;
}

.communityLink:hover {
    background-color: #eeeeee !important;
    color: #388b49;
}

#timeframeSelect:hover {
    background-color: #d9ede1 !important;
}

.reportingSteps {
    width: 60%;
    background-color: #d9ede1 !important;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

.mapAndFilter {
    min-height: 80vh;
    align-items: stretch;
}

.mapWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
    width: 100%;
    min-height: 80vh;
    margin-bottom: 15px;
    border-radius: 10px;
}

@media (max-width: 767.98px) {
    #map {
        width: 100%;
    }

    .mapAndFilter {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .filterBox {
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-left: 0 !important;
    }
}

.filterBox {
    background-color: #d9ede1 !important;
    margin-left: 10px;
    height: 150px;
    border-radius: 10px;
}

.nextSteps {
    padding-top: 150px;
    text-align: center;
}

.reportWaste {
    height: 60px;
    font-size: 15pt;
    background-color: #d9ede1 !important;
    border-color: #388b49 !important;
    color: #231f20
}

.reportWaste:hover {
    background-color: #eeeeee !important;
    color: #388b49;
}
